# $MirOS: pax/debian/control,v 1.5 2011/02/27 21:50:17 tg Exp $
#
Source: mircpio
Section: devel
Priority: optional
Maintainer: Thorsten Glaser <tg@mirbsd.de>
Build-Depends: cpio | pax, debhelper (>= 5), libbsd-dev (>= 0.1.4)
Standards-Version: 3.8.4
# First word is the $CVSROOT (-d arg) string, second word the module.
# Upstream is on the same server, in the "mksh" module.
Vcs-CVS: :ext:_anoncvs@anoncvs.mirbsd.org:/cvs contrib/hosted/tg/deb/mircpio
Vcs-Browser: http://cvs.mirbsd.de/contrib/hosted/tg/deb/mircpio/

Package: mircpio
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: portable version of MirBSD paxtar (cpio, pax, tar)
 mircpio packages the MirBSD cpio(1) = pax(1) = tar(1) command,
 also known as paxtar. This is an alternative implementation of
 the POSIX archiver supporting bcpio, cpio, SVR4 cpio with and
 without CRC, old tar, and ustar, but not the format known as
 pax yet.
