# $MirOS: pax/debian/control,v 1.11 2011/08/17 09:48:46 tg Exp $
#
Source: mircpio
Origin: WTF
Bugs: mailto:wtf@mirbsd.org
Section: devel
Priority: optional
Maintainer: Thorsten Glaser <tg@mirbsd.de>
Build-Depends: debhelper (>= 5), libbsd-dev (>= 0.1.1)
Standards-Version: 3.9.2
# First word is the $CVSROOT (-d arg) string, second word the module.
Vcs-CVS: :ext:_anoncvs@anoncvs.mirbsd.org:/cvs contrib/hosted/tg/deb/mircpio
Vcs-Browser: http://cvs.mirbsd.de/contrib/hosted/tg/deb/mircpio/

Package: mircpio
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: portable version of MirBSD paxtar (cpio, pax, tar)
 mircpio packages the MirBSD cpio(1) = pax(1) = tar(1) command,
 also known as paxtar. This is an alternative implementation of
 the POSIX archiver supporting ar, bcpio, cpio, SVR4 cpio with
 and without CRC, old tar, and ustar, but not the format known
 as pax yet. It has extensions for removing non-numerical user
 and group IDs from the archive, storing hardlinked files only
 once, setting ownership to the superuser, anonymising inode
 and device information, and changing the mtime to zero. Its
 "ar" format is suitable for operating on *.deb files.
