#!/usr/bin/make -f
# $MirOS: pax/debian/rules,v 1.6 2011/11/12 00:11:29 tg Exp $

CC?=			gcc
CFLAGS=			-Wall -g
CFLAGS+=		-Wextra -Wformat

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS+=		-O0
else
CFLAGS+=		-O2
endif

CPPFLAGS+=		-DLONG_OFF_T -DUSE_LIBBSD
CFLAGS+=		-fno-strict-aliasing
LDADD+=			-lbsd

build build-arch: debian/.build_stamp
build-indep:

debian/.build_stamp:
	dh_testdir
	-rm -f debian/.*_stamp mir*.1 mirpax
	+for opts in '-flto=jobserver' '-fwhole-program --combine' ''; do \
		set -x; \
		${CC} ${CPPFLAGS} ${CFLAGS} $$opts ${LDFLAGS} -o mirpax \
		    ar_io.c ar_subs.c buf_subs.c cache.c cpio.c file_subs.c \
		    ftree.c gen_subs.c getoldopt.c options.c pat_rep.c pax.c \
		    sel_subs.c tables.c tar.c tty_subs.c ar.c ${LDADD}; \
		test -x mirpax && exit 0; \
	done; echo >&2 Compiling failed.; exit 1
	for prog in cpio pax tar; do \
		(echo .nr g 1; cat $$prog.1) >mir$$prog.1; \
	done
	@:>$@

clean:
	dh_testdir
	-rm -f debian/.*_stamp mir*.1 mirpax
	dh_clean

binary-indep: build-indep

binary-arch: build-arch
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
