#!/usr/bin/make -f

DEB_HOST_ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS=$(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

CC?=			gcc
EXTRA_CFLAGS=		-Wall -Wextra -Wformat -fno-strict-aliasing
EXTRA_LDFLAGS=		-Wl,--as-needed

ifneq (kfreebsd,${DEB_HOST_ARCH_OS})
ifneq (x32,${DEB_HOST_ARCH})
EXTRA_CPPFLAGS+=	-DLONG_OFF_T
endif
endif

ifneq (,$(wildcard /usr/share/dpkg/buildflags.mk))
# dpkg-dev (>= 1.16.1~)
DEB_CFLAGS_MAINT_APPEND=${EXTRA_CFLAGS}
DEB_CPPFLAGS_MAINT_APPEND=${EXTRA_CPPFLAGS}
DEB_LDFLAGS_MAINT_APPEND=${EXTRA_LDFLAGS}
DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/dpkg/buildflags.mk
else
# old-fashioned way to determine build flags
CFLAGS=			-O$(if $(findstring noopt,${DEB_BUILD_OPTIONS}),0,2) -g
CFLAGS+=		${EXTRA_CFLAGS}
CPPFLAGS+=		${EXTRA_CPPFLAGS}
LDFLAGS+=		${EXTRA_LDFLAGS}
endif

build: build-arch build-indep
build-arch: debian/.build_stamp
build-indep:

SRCS=	ar.c ar_io.c ar_subs.c buf_subs.c cache.c cpio.c file_subs.c ftree.c gen_subs.c getoldopt.c options.c pat_rep.c pax.c sel_subs.c tables.c tar.c tty_subs.c
OBJS=	ar.o ar_io.o ar_subs.o buf_subs.o cache.o cpio.o file_subs.o ftree.o gen_subs.o getoldopt.o options.o pat_rep.o pax.o sel_subs.o tables.o tar.o tty_subs.o

debian/.build_stamp:
	dh_testdir
	+for opts in '-flto=jobserver' '-fwhole-program --combine' ''; do \
		rm -f *.o; \
		num=0; \
		set -x; \
		case $$opts in \
		(*combine*) ${CC} ${CPPFLAGS} ${CFLAGS} $$opts ${LDFLAGS} \
		    -frandom-seed=42 -o pax ${SRCS} ;; \
		(*) for srcf in ${SRCS}; do \
			objf=$${srcf%.c}.o; \
			${CC} ${CPPFLAGS} ${CFLAGS} $$opts -frandom-seed=$$num \
			    -c -o $$objf $$srcf || break; \
			num=$$(($$num + 1)); \
		    done; \
		    ${CC} ${CFLAGS} $$opts -frandom-seed=$$num \
		    ${LDFLAGS} -o pax ${OBJS} ;; \
		esac; \
		test -x pax && exit 0; \
	done; echo >&2 Compiling failed.; exit 1
	echo .nr g 2 | cat - cpio.1 >debian/paxcpio.1
	echo .nr g 2 | cat - pax.1 >debian/pax.1
	echo .nr g 2 | cat - tar.1 >debian/paxtar.1
	@:>$@

clean:
	dh_testdir
	dh_clean
	-rm -f debian/.*_stamp *.o \
	    debian/paxcpio.1 debian/pax.1 debian/paxtar.1 pax

binary-indep: build-indep

binary-arch: build-arch
	dh_testdir
	dh_testroot
	if test -x "$$(which dh_prep)"; then dh_prep; else dh_clean -k; fi
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installman
	dh_lintian
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
